
@{
    ViewData["Title"] = "Index";
}


<h3>CORONA LIVE UPDATE</h3>
<div id="loadIndex"></div>

<script>
    $(document).ready(function () {

        //----------------------
        $.ajax({
            type: 'GET',
            url: '/Home/_Index/'
        }).then(function (data) {
            $('#loadIndex').html(data);
        });

    });
</script>
